<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
    <div class="left_column">
        <ul class="models">
            {% for model in models %}
                <li id="{{ model|first }}" {% if forloop.first %}class="selected" {% endif %}><a href="#" class="local">{{ model|last }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="right_column">
        <table>
            <thead>
                <tr>
                    {% for field in first_model_fields %}
                        <th class="{{ field|last }}">{{ field|first }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in first_model %}
                    <tr>
                        {% for field in item %}
                            <td>
                                <span>{{ field }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% include "body_bottom.html" %}
</body>
</html>