<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
    <div class="left_column">
        <ul class="models">
            {% for model in models %}
                <li id="{{ model|first }}"><a href="#">{{ model|last }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="right_column">
        <table>
            <tr>
                {% for field in first_model_fields %}
                    <th class="{{ field|last }}">{{ field|first }}</th>
                {% endfor %}
            </tr>
            {% for item in first_model %}
                <tr>
                    {% for field in item %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% include "body_bottom.html" %}
</body>
</html>