{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Демонстрация приложения с динамическими моделями</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-2.1.1.min.js" %}"></'+'script>');</script>
</head>
<body>
    <div class="left_column">
        <ul class="models">
            {% for model in models %}
                <li id="{{ model|first }}" {% if forloop.first %}class="selected" {% endif %}><a href="#" class="local">{{ model|last }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="right_column">
        <table>
            <thead>
                <tr>
                    {% for field in first_model_fields %}
                        <th class="{{ field|last }}">{{ field|first }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in first_model %}
                    <tr>
                        {% for field in item %}
                            <td>
                                <span>{{ field }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static "js/main.js" %}"></script>

</body>
</html>